html {
  background-color: #2B1B17;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 60pt;
  color: #13CC6D;
  font-weight: lighter;
  margin-left: 15%;
  margin-top: 15%;
}

#last_name {
  color: #CC8C11;
  margin-top: -20px;
  margin-left: 70px;
}

#footer {
  color: #84FFE3;
  font-size: 25pt;
  font-weight: lighter;
  font-family: Helvetica, sans-serif;
  position: absolute;
  height: 2em;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  padding-top: .75em;
}

#footer img {
  display: inline-block;
  text-align: center;
  padding-left: 1em;
  padding-top: 1em;
}