html {
  background-color: #000000;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 60pt;
  color: #13CC6D;
  font-weight: lighter;
  margin-left: 15%;
  margin-top: 15%;
}

#last_name {
  color: #CC8C11;
  margin-top: -20px;
  margin-left: 70px;
}

#footer {
  color: #55ACEE;
  font-size: 25pt;
  font-weight: lighter;
  font-family: Helvetica, sans-serif;
  position: absolute;
  text-align: right;
  height: 2em;
  width: 98%;
  bottom: 0;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  padding-top: 1.1em;
  display: inline-block;
}

#footer img {
  display: inline-block;
  position: relative;
  bottom: 40;
  padding-left: 2em;
  right: .5em;
}

.linkedin {
  width: 48px;
  height: 48px;
  display: inline-block;
  margin-bottom: 100px;
  background-image: url(../imgs/linkedin_main.png);
}

.linkedin:hover {
  background-image: url(../imgs/linkedin_blue.png);
}

.twitter {
  width: 48px;
  height: 48px;
  display: inline-block;
  background-image: url(../imgs/twitter_main.png);
}

.twitter:hover {
  background-image: url(../imgs/twitter_blue.png)
}

.tumblr {
  width: 48px;
  height: 48px;
  display: inline-block;
  background-image: url(../imgs/tumblr_main.png);
}

.tumblr:hover {
  background-image: url(../imgs/tumblr_blue.png)
}

.github {
  width: 48px;
  height: 48px;
  display: inline-block;
  background-image: url(../imgs/github_main.png);
}

.github:hover {
  background-image: url(../imgs/github_blue.png)
}

.googleplus {
  width: 48px;
  height: 48px;
  display: inline-block;
  background-image: url(../imgs/googleplus_main.png);
}

.googleplus:hover {
  background-image: url(../imgs/googleplus_blue.png)
}

#connect {
  text-align: left;
  padding-left: 6em;
}