body {
  background-image: url("blog-background-image.jpg");
}

.background {
  margin-top: 30px;
  margin-right: 85px;
  margin-left: 75px;
  height: 100%;
  background-color: white;
  border: 2px solid #d3d3d3;
  border-radius: 20px;
  border-bottom: -50px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 10px;
  position: absolute;
}

#navigation_bar {
  height: 50px;
  margin-right: -20px;
  margin-left:-10px;
  border-top: 2px dashed #d3d3d3;
  border-bottom: 2px dashed #d3d3d3;
  display: block;
  background-color: #5d4a7d;
}

#home {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Tahoma;
  margin-top: 10px;
  margin-left: 65px;
  position: absolute;
  padding: 1px;
}

#portfolio {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Tahoma;
  margin-top: 10px;
  margin-left: 160px;
  position: absolute;
  padding: 1px;
}

#contacts {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Tahoma;
  margin-top: 10px;
  margin-left: 305px;
  position: absolute;
  padding: 1px;
}

.main_right {
  float: right;
  width: 60%;
}