html {
  background-color: #FFFFFF;
}

.navigation_bar {
  position: fixed;
  margin-top: -16px;
  margin-left: -10px;
  width: 100%;
  height: 60px;
  display: block;
  background-color: #5d4a7d;
}

.navigation_bar ul {
  padding-top: 3px;
  padding-left: 50px;
  list-style-type: none;
}

.navigation_bar ul li {
  display: inline;
}

.navigation_bar ul li a {
  color: white;
  font-size: 17px;
  text-decoration: none;
  font-family: Tahoma;
  padding: 2vh;
}

.navigation_bar ul li a:hover {
  color: #5C9356;
}

  .twitter {
  width: 32px;
  height: 32px;
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  right: 10;
  margin-top: -45px;
  background-image: url(../imgs/blog_twitter.png);
}

.twitter:hover {
  background-image: url(../imgs/blog_twitterw.png);
}

  .linkedin {
  width: 32px;
  height: 32px;
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  right: 10;
  margin-right: 50px;
  margin-top: -45px;
  background-image: url(../imgs/blog_linkedin.png);
}

.linkedin:hover {
  background-image: url(../imgs/blog_linkedinw.png);
}

  .github {
  width: 32px;
  height: 32px;
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  right: 10;
  margin-right: 100px;
  margin-top: -45px;
  background-image: url(../imgs/blog_github.png);
}

.github:hover {
  background-image: url(../imgs/blog_githubw.png);
}

.main {
  margin: 0 auto;
  width: 910px;
}

.main_left {
  font-family: Verdana;
  font-size: 10pt;
  border-right: 1px solid #d3d3d3;
  width: 585px;
  float: left;
  padding-right: 20px;
}

.main_right {
  font-family: Verdana;
  font-size: 10pt;
  padding-top: 65px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  width: 261px;
}

.ruby {
  background-color: #404040;
  color: white;
  font-family: Times;
  font-size: 12pt;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 15px;
  padding: 8px;
}

#left_image {
  float: left;
  margin-left: 30px;
  width: 25%;
}

#left_image img {
  width: 100%;
  height: auto;
}

h4 {
  font-size: 10pt;
  color: #4A3F40;
  text-align: left;
  margin-top: -18px;
  font-weight: normal;
}

h1 {
  color: #5C9356;
  text-align: center;
  font-size: 18pt;
  font-weight: normal;
  margin-bottom: 35px;
  text-decoration: none;
}

h1 a {
  text-decoration: none;
  color: #5C9356;
}

h1 a:hover {
  color: #5d4a7d;
}

h2 {
  color: #5C9356;
  text-decoration: none;
  text-align: center;
  font-size: 22pt;
  margin-top: -10px;
}

h3 {
  font-size: 14pt;
  color: #5d4a7d;
  text-decoration: none;
  font-weight: normal;
  padding-left: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin
}

.sign_off {
  font-style: italic;
  text-align: center;
}

p {
  margin-top: -20px;
  padding-left: 25px;
  padding-right: 10px;
  color: black;
  font-family: Verdana;
  font-size: 10pt;
}

p a {
  color: #5C9356;
  text-decoration: none;
}

p a:hover {
  color: #5d4a7d;
}

p a:visited {
  color: #5d4a7d;
}

#changing_picture {
  border: 1px solid #5d4a7d;
  height: 224px;
  width: 300px;
  margin-right: 25px;
  margin-bottom: 15px;
  float: left;
}

.connect_pic1 {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  padding: 20px;
  margin-left: 65px;
  overflow: hidden;
  border: none;
}

.connect_pic {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  padding: 20px;
  overflow: hidden;
  border: none;
}

.connect_pic1:hover {
  border: 2px solid #5C9356;
  margin: -2px -2px -2px 63px;
}

.connect_pic:hover {
  border: 2px solid #5C9356;
  margin: -2px;
}

#codeshewrote {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#picture_me {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 200px;
  width: auto;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#navbar_homelink {
  color: #5C9356;
  font-weight: bold;
  font-size: 20px;
}

#navbar_homelink:hover {
  color: white;
}

span {
  color: black;
  text-shadow: none;
}

.right_title {
  color: #A0A0A0;
  font-size: 10pt;
  font-weight: bold;
  }

.right_heading {
   margin-top: -65px;
   margin-left: -20px;
   margin-right: -20px;
   margin-bottom: -15px;
   border-top: 1px solid #d3d3d3;
   border-bottom: 1px dashed #d3d3d3;
   padding: 8px;
}

.right_heading_prev {
   margin-top: 20px;
   margin-left: -20px;
   margin-right: -20px;
   margin-bottom: 20px;
   border-top: 1px solid #d3d3d3;
   border-bottom: 1px dashed #d3d3d3;
   padding: 8px;
}

.prev_posts ul li {
  font-size: 10pt;
  list-style: square;
  color: #d3d3d3;
  margin-left: -23px;
  margin-bottom: 10px;
}

.prev_posts a {
  text-decoration: none;
  color: #5C9356;
}

.prev_posts a:hover{
  text-decoration: none;
  color: #5d4a7d;
}

.prev_posts a:visited{
  text-decoration: none;
  color: #5d4a7d;
}

.left_title {
    font-size: 10pt;
    color: #585858;
  }

.left_heading {
   margin-left: 20px;
   margin-right: -20px;
   border-top: 1px solid #d3d3d3;
   border-bottom: 1px solid #d3d3d3;
   padding: 8px;
}

.bottom {
  clear: both;
  font-family: Verdana;
  font-size: 10pt;
  margin-left: 300px;
  margin-right: 300px;
  border-top: 1px dashed #d3d3d3;
  border-right: 1px dashed #d3d3d3;
  border-left: 1px dashed #d3d3d3;
  padding-top: 10px;
  color: #5C9356;
  text-decoration: none;
  text-align: center;
}

.bottom:hover {
  color: #5d4a7d;
}

.bottom:visited {
  color: #5d4a7d;
}