body {
  background-image: url("blog-background-image.jpg");
}

.background {
  margin-top: 30px;
  margin-right: 85px;
  margin-left: 75px;
  min-height: 600px;
  height: auto !important;
  height: 100%;
  background-color: white;
  border: 2px solid #d3d3d3;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: none;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 10px;
  position: absolute;
}

#navigation_bar {
  height: 50px;
  margin-right: -25px;
  margin-left: -40px;
  border-top: 2px dashed #d3d3d3;
  border-bottom: 2px dashed #d3d3d3;
  display: block;
  background-color: #5d4a7d;
}

#home {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Tahoma;
  margin-top: 10px;
  margin-left: 65px;
  position: absolute;
  padding: 1px;
}

#portfolio {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Tahoma;
  margin-top: 10px;
  margin-left: 160px;
  position: absolute;
  padding: 1px;
}

#contacts {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Tahoma;
  margin-top: 10px;
  margin-left: 305px;
  position: absolute;
  padding: 1px;
}

.main_right {
  font-family: Arial;
  font-size: 11pt;
  float: right;
  width: 60%;
}

#left_image {
  float: left;
  margin-top: 75px;
  margin-left: 20px;
  width: 30%;
}

#left_image img {
  width: 100%;
  height: auto;
}

h4 {
  font-size: 10pt;
  color: #4A3F40;
  text-align: right;
  margin-top: -40px;
  margin-right: 20px;
}

h1 {
  color: #5C9356;
  text-align: left;
  font-size: 22pt;
}

a {
  color: #5d4a7d;
  font-size: 10pt;
  font-family: Arial;
}