html {
  background-color: white;
}

p {
  width: 40%;
}

#title {
  float: left;
  margin-left: 10px;
}

#game_box {
  float: right;
  border: 2px solid #704520;
  width: 700px;
  height: 500px;
  margin-right: 10px;
  margin-top: -220px;
  background-image: url("http://i59.tinypic.com/imt0km.jpg");
}

#dog {
  position: absolute;
  float: right;
  top: 490px;
  right: 650px;
}

#bone1 {
  position: absolute;
  float: right;
  top: 400px;
  right: 250px;
}

#bone2 {
  position: absolute;
  float: right;
  top: 200px;
  right: 550px;
}

#bacon {
  position: absolute;
  float: right;
  top: 190px;
  right: 50px;
}