html {
  background-color: #ffffff;
  font-family: "Times New Roman";
  color: #000080;
  font-size: 14px;
  white-space: pre-line;
  clear: both;
}

a:link {
  color: #800080;
  font-size: 16px;
}

a:visited {
  color: #ff0000;
  font-size: 16px;
}

span {
  font-size: 11px;
}

.capital {
  font-size: 32px;
}

.big {
  font-size: 16px;
}

.very_tiny {
  font-size: 10px;
}

#inc {
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  margin-left: 10px;
}

.header {
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  white-space: pre-line;
  margin-top: -10px;
  margin-bottom: 5px;
}

h1 {
font-size: 18px;
text-align: center;
font-weight: bold;
margin-top: 12px;
}

#bottom_header {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

#left {
  float: left;
  width: 50%;
  margin-top: -10px;
  margin-left: -30px;
}

#right {
  float: right;
  width: 50%;
  margin-top: -10px;
}

.footer {
  text-align: center;
  white-space: pre-line;
  font-size: 14px;
  clear: both;
}