html {
  background-color: #ffffff;
  font-family: Times;
  color: #000080;
}

a:link {
  color: #800080;
}

a:visited {
  color: #ff0000;
}

ul {
  display: inline-block;
}

span {
  font-size: 8px;
}

.capital {
  font-size: 32px;
}

#header {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

#top_header {
font-size: 20px;
text-align: center;
font-weight: bold;
margin-top: 10px;
}

#bottom_header {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}